:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  /*-----------------------------------------------------------------------------*/
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #BCC5C2;
}

.container {
    width: 80%;
    margin: auto;
}

header, section, footer {
    padding: 5px;
}

#navbar {
    color: #BCC5C2;
}

#navbar {
    --navbar-height: 7.5%;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }

  .navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-inline-start: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }

  #navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
  }

  #navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  }

 #navbar-toggle[aria-expanded='true'] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  }

  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1em;
  }
/*--------------------------------------------*/
section {
    padding: 50px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.about-details {
    text-align: left;
}

.about-details img{
    max-width: 100%;
    height: 300px;
    float: right;
    margin-left: 20px;
    border: 1px solid #333333;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px  rgb(0, 0, 0, 0.4);
    
}

.about-details p {
    margin-bottom: 10px;
}

#portfolio {
    background-color: #333;
    color: #BCC5C2;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    flex: 0 0 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px);
    min-height: 300px;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #333;
    border: 3px solid #BCC5C2;
    border-radius: 20px;
    padding: 20px; 
    box-shadow: 5px 5px 10px 5px  rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height:auto;
    border-radius: 10px;
}


footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.contact-details {
    text-align: center;
}

.contact-details p {
    margin-bottom: 10px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }
@media screen and (max-width: 992px) {
    /* Two items per row for medium-sized screens */
    .about-details {
        text-align: center;
    }
    
    .about-details img{
        width: auto;
        margin: auto;
        height: 300px;
        float: none;

    }
    .portfolio-item {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    /* One item per row for small screens */

    .about-details img{
        height: 200px;
    }
    .portfolio-item {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
